.wrapInput {
    text-align: start;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 15px;
    width: 20vw;
    border-radius: 0.5rem;
    color: black;
    background-color: inherit;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}